.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: .9em;
}

body,
ul,
li {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
    margin: 0 0 .5em;
}

img {
    display: block;
}

code {
    white-space: nowrap;
}

form {
    display: inline;
    line-height: 2em;
}

a {
    color: #369;
    text-decoration: none;
}

.header {
    background-color: #404040;
    color: #fefefe;
    height: 80px;
    padding: 1em 20px;
}

.header a {
    background-color: #404040;
    color: #369;
    text-decoration: none;
}

.wrapper {
    padding: 20px;
}

.odd {
    background-color: white;
    padding: 20px;
}
.even {
  background-color: #ccc;
  padding: 20px;
}
.button-error {
    background: rgb(247, 48, 48); /* this is a maroon */
    font-size: 85%;
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
    font-size: 85%;
}

.rcorners2 {
    border-radius: 5px;
    border: 1px solid #454545;
    padding: 20px;
}

.box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #454545;
    padding: 20px;
}

.error {
    color: #f00;
}

.stopselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.nowrap {
    white-space: nowrap;
}
